doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Backery
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;400;700;600&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Poppins:wght@500&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Cormorant:wght@700&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Cormorant:wght@700;600;500;400&family=Poppins&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Cormorant:wght@700&family=Poppins&display=swap" rel="stylesheet")
  body 
    include section-header.pug 
    include section-latest-offers.pug
    include section-why-choose.pug 
    include section-who-makes.pug  
  