section.section-header
  div.top-bar
    p.top-delivery Free Delivery over $100. Gift with Purchase over $150
    img.cross(src="img/svg/cross.svg", alt="")
  div.container 
    div.header-bar
      img.logo(src="img/svg/logo.svg", alt="Backery")
      
      ul.header-menu 
        li.header-item--add Occasions
        li.header-item--add All Categories
        li.header-item--add Gifts & Bundles
        li.header-item Our Brands
        li.header-item About Us
        
      div.right-balls
        div.eliipse-search   
          img.search(src="img/svg/loupe 1.svg", alt="")
        div.elipse-profile
          img.profile(src="img/svg/user.svg", alt="")
        div.elipse-cart
          img.cart(src="img/svg/cart.svg", alt="")
          div.cart-sum 23

    div.header-main 
      h1.heading-header  Support Your Local Artisans 
      h2.subheading-header  Discover brands and theit stories
      button.btn-header Browse bands
        
