section.section-instagram 
  .container 
    h1.header-instagram <span>@PremiumBakeryQuality</span> on Instagram
    .gallery-instagram
      .arrow-instagram 
        img.pic-arrow-left-instagram(src="img/svg/arrow_left_instagram.svg", alt="")
      ul.list-gallery-instagram 
        li.item-gallery-instagram
          img.pic-gallery-instagram(src="img/cabbage.png", alt="")
        li.item-gallery-instagram
          img.pic-gallery-instagram(src="img/carrot.png", alt="")
        li.item-gallery-instagram 
          img.pic-gallery-instagram(src="img/croissant.png", alt="")
        li.item-gallery-instagram 
          img.pic-gallery-instagram(src="img/lemons.png", alt="")
        li.item-gallery-instagram 
          img.pic-gallery-instagram(src="img/melon.png", alt="")
      .arrow-instagram 
        img.arrow-right-instagram(src="img/svg/arrow_right_instagram.svg", alt="")