section.section-why-choose
  .container
    h2.heading-why-choose  Why Choose <span> the Premium Bakery Quality </span>
    ul.reasons-choosing 
      li.reason-choosing  
        img.picture-reason(src="img/svg/telescope.svg", alt="")
        h3.heading-reason  Discover new flavours & people
        p.content-reason  Discover new tastes, flavours, snacks and recipes to make wonderful meals. Also find out where your food comes from and who makes it.
      li.reason-choosing 
        img.picture-reason(src="img/svg/wholesale 1.svg", alt="")
        h3.heading-reason   Buy <br> wholesale 
        p.content-reason  We offer bulk formats, variety cases, and discovery boxes so you can save money on delicious foods by buying at wholesale prices. 
      li.reason-choosing 
        img.picture-reason(src="img/svg/support .svg", alt="")
        h3.heading-reason   Support your <br> community 
        p.content-reason  By buying in bulk from local and Canadian producers you are helping grow our local food ecosystem, creating jobs, and supporting families and entrepreneurs in your community.
      li.reason-choosing 
        img.picture-reason(src="img/svg/winner .svg", alt="")
        h3.heading-reason   Enjoy the best <br>quality
        p.content-reason  We only offer great tasting, all natural foods that are better for you, and organic if possible.
      li.reason-choosing 
        img.picture-reason(src="img/svg/heart .svg", alt="")
        h3.heading-reason   Enjoy Club Level <br>Service
        p.content-reason  As a member of our club, we will make sure you are delighted with our service or we will make it right!
      