section.section-who-makes
  .container 
    .wrapp-who-makes 
      .left-who-makes-block 
        h2.heading-who-makes  <span>Who Makes</span> Your Food?  
        p.text-who-makes  Our mission is to help grow the local food ecosystem in BC and across Canada.  Why? 
        ul.mission-list  
          li.mission-item  Because it connects us to the land we live on, and to the people who live here.
          li.mission-item  Because it’s more meaningful to cook and eat something made by a person nearby than by some distant corporation
          li.mission-item  Because good local food makes our corner of the world a better place to live
          li.mission-item  Because it supports local jobs
          li.mission-item  Because it makes more sense for the environment
          button.btn-who-makes  Discover our Producers
      .right-who-makes-block
    