section.section-tell-friend 
  .container 
    h1.header-tell-friend Tell a Friend
    ul.list-social-networks
      li.item-social-networks 
        img.icon-facebook(src="img/svg/facebook.svg", alt="")
      li.item-social-networks 
        img.icon-instgrm(src="img/svg/instgrm.svg", alt="")
      li.item-social-networks 
        img.icon-twitter(src="img/svg/twitter.svg", alt="")
      li.item-social-networks 
        img.icon-whatsapp(src="img/svg/whatsapp.svg", alt="")
      li.item-social-networks 
        img.icon-messendger(src="img/svg/messenger.svg", alt="")
      li.item-social-networks 
        img.icon-telegram(src="img/svg/telegram.svg", alt="")