section.section-latest-offers
  .container
    h2.heading-latest  Latest <span>Offers</span>
    
    .offers-items 
      
      .offers-item 
        img(src="img/pepperoni.png", alt="").offers-item-picture
        p.offers-item-title  Pepperoni Pizza
        p.offers-item-price $19.99 <span>$24.99</span>
        button.offers-item-btn  Quick Shop

      .offers-item 
        img(src="img/pancakes.png", alt="").offers-item-picture
        p.offers-item-title Baked Pancakes
        p.offers-item-price $35.99 <span>$44.99<span>
        button.offers-item-btn  Quick Shop

      .offers-item 
        img(src="img/avocado.png", alt="").offers-item-picture
        p.offers-item-title Avocado
        p.offers-item-price $17.99 <span>$20.99<span>
        button.offers-item-btn  Quick Shop

      .offers-item 
        img(src="img/orange.png", alt="").offers-item-picture
        p.offers-item-title  Bunch of Orange
        p.offers-item-price 24.99 <span>$29.99<span>
        button.offers-item-btn  Quick Shop      

        
