.section-surprise
  .container 
    .wrapper-surprise 
      .left-block-surprise
        img.pic-surprise(src="img/pic-surprise.png", alt="")
      .right-block-surprise
        h2.heading-surprise <span>Surprise Someone</span> <br> Working from Home
        p.text-surprise Do you have a colleague or family member working hard at home? Our Working From Home box of snacks and drinks is the perfect way to put a smile on their face, delivered direct to their door.
        p.text-surprise To buy for a large group of people, get in touch and we can discuss bespoke bundles and personalised messaging.
        button.btn-surprise Buy Now    
