section.footer 
  .container 
    .columns-footer 
      
      .column-footer 
        img.pic-logo-footer(src="img/logo-footer.png", alt="")
      
      .column-footer 
        h4.header-column-footer Occasions
        ul.list-column-footer 
          li.item-column-footer Occasions
          li.item-column-footer Working From Home                                        
          li.item-column-footer Snack Time
          li.item-column-footer Breakfast
          li.item-column-footer Vegan Life
          li.item-column-footer Baking
          li.item-column-footer Gifts & Bundles
          li.item-column-footer Easy Cooking
          li.item-column-footer All Products
      
      .column-footer  
        h4.header-column-footer All Categories
        ul.list-column-footer 
          li.item-column-footer Baking
          li.item-column-footer Breakfast
          li.item-column-footer Condiments
          li.item-column-footer Drinks
          li.item-column-footer Heat Things Up
          li.item-column-footer Meal Solutions
          li.item-column-footer Pantry Staples
          li.item-column-footer Simmer Sauces
          li.item-column-footer Snacks & Treats
          li.item-column-footer Spice Up Your Cooking
          li.item-column-footer Sweet Toothg
          li.item-column-footer Wine & Cheese
          li.item-column-footer All Products

      .column-footer 
        h4.header-column-footer Gifts & Bundles
        ul.list-column-footer 
          li.item-column-footer Sweet Tooth Special
          li.item-column-footer Discover Local
          li.item-column-footer Baking Box
          li.item-column-footer Spicy Heat Lover's Box
          li.item-column-footer Snacking Sensations
      
      .column-footer  
        h4.header-column-footer Our Brands
        
      .column-footer 
        h4.header-column-footer About Us