.section-city-backery
  .container 
      h1.header-city-backery Our Charity Partner, City Bakery
      .logo-city-backery 
        img.logo-pic-city-backery(src="img/svg/logo_city_backery.svg", alt="")
      button.btn-city-backery Learn more about City Bakery  

